<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/agro.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <br>
                    <br>
                    <h1 class="presentation-title">Como fazer?</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <a href="#0" class="btn btn-link btn-neutral">Consultoria</a>
                        <a href="#0" class="btn btn-link btn-primary">Assessoria</a>
                        <a href="#0" class="btn btn-link btn-warning">Capacitação</a>
                        <a href="#0" class="btn btn-link btn-danger">Auditoria</a>
                    </div>
                </div>        
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>
    <div class="main">
    </div>
</div>
