<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/agroindustria.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <br>
                    <br>
                    <h1 class="presentation-title">AGRO</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <h2 class="presentation-subtitle text-center">Marketplace</h2>        
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>
    <div class="main">
        <div class="section text-center">
        <p>Indústrias parcerias</p>
        <div class="container">
            <div class="circle-container">
                <div class="circle">
                    <img src="https://portalporciuncula.files.wordpress.com/2019/01/anuncie-aqui-banner-GIF.gif?w=723"/>
                </div>
                <div class="circle">
                    Anuncie aqui
                </div>
                <div class="circle">
                    <img src="./assets/img/lgbr.jpg"/>
                </div>
                <div class="circle">
                    Anuncie aqui
                </div>
                <div class="circle">
                    <img src="./assets/img/lgbr.jpg"/>
                </div>
                <div class="circle">
                    Anuncie aqui
                </div>
                <div class="circle">
                    <img src="https://portalporciuncula.files.wordpress.com/2019/01/anuncie-aqui-banner-GIF.gif?w=723"/>
                </div>
                <div class="circle">
                    Anuncie aqui
                </div>
            </div>
        </div>
        <div>
            <p>Selecionados pra você</p>
        </div>    
        </div>
    </div>
</div>